body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin-top: 40px;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #17aacb;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #6fdbdb;
  padding: 40px 0 15px;
}

a {
  color: #6073d1;
  font-family: 'Merriweather', sans-serif;
  margin: 10px 30px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #a0b9b4 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/*div {
  background-color: #2B2E4A;
  color: #E0F9B5;
  padding: 30px;
}*/
p {
  line-height: 2;
}

.Top {
  background-color: #2B2E4A;
  color: #aacdd1;
  padding: 90px;
  position: relative;
}

.int {
  width: 30%;
  margin: auto;
  margin-bottom: 30px;
}

.pp {
  height: 260px;
}

.skl {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.zz {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.contact-message {
  margin-bottom: 60px;
}

.Top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 270px;
  bottom: 410px;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.85rem;
  padding: 20px 0px 10px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
  background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
